<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} - 黑档案</title>
    <meta name="description" content="中国黑客档案馆"/>
    <link rel="stylesheet" href="http://heidangan.github.io/ba2aaa52bb31d632/css/style.css" type="text/css" />
    <link rel="stylesheet" href="http://heidangan.github.io/ba2aaa52bb31d632/css/syntax.css" type="text/css" />
  </head>
  <body>
    <div class="site" style="padding-top: 50px;">
      <div class="title">
        <a href="/">黑档案</a><small> &nbsp;-&nbsp; 中国黑客档案馆</small>
      </div>

      <div class="post-content">
        {{ content }}
      </div>

      <!-- footer -->
      <div class="footer">
        <div class="contact">
          <p>
            <a href="/feed.xml" target="_blank" style="text-decoration: none; margin-right: 5px;">RSS</a> |&nbsp;
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
